<div class="page">
<% @expenditures.each do |expenditure| %>
<div>
	<strong><%=link_to expenditure.name, expenditure_path(expenditure) %></strong>
	<br/>
	<%= link_to image_tag(expenditure.avatar.url(:thumb)), expenditure_path(expenditure) %>
	<P><%= expenditure.price %></p>
	<hr/> 
	<br/>
</div>
</div>
<% end %>
